<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neuedu.propertyMgr.dao.ParkspaceMapper" >
  <resultMap id="BaseResultMap" type="com.neuedu.propertyMgr.pojo.Parkspace" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="car_owner" property="carOwner" jdbcType="VARCHAR" />
    <result column="house_owner" property="houseOwner" jdbcType="VARCHAR" />
    <result column="park_no" property="parkNo" jdbcType="INTEGER" />
    <result column="car_number" property="carNumber" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="pay_type" property="payType" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, car_owner, house_owner, park_no, car_number, phone, color, pay_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from parkspace
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from parkspace
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.neuedu.propertyMgr.pojo.Parkspace" >
    insert into parkspace (id, car_owner, house_owner, 
      park_no, car_number, phone, 
      color, pay_type)
    values (#{id,jdbcType=INTEGER}, #{carOwner,jdbcType=VARCHAR}, #{houseOwner,jdbcType=VARCHAR}, 
      #{parkNo,jdbcType=INTEGER}, #{carNumber,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{color,jdbcType=VARCHAR}, #{payType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.neuedu.propertyMgr.pojo.Parkspace" >
    insert into parkspace
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="carOwner != null" >
        car_owner,
      </if>
      <if test="houseOwner != null" >
        house_owner,
      </if>
      <if test="parkNo != null" >
        park_no,
      </if>
      <if test="carNumber != null" >
        car_number,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="color != null" >
        color,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="carOwner != null" >
        #{carOwner,jdbcType=VARCHAR},
      </if>
      <if test="houseOwner != null" >
        #{houseOwner,jdbcType=VARCHAR},
      </if>
      <if test="parkNo != null" >
        #{parkNo,jdbcType=INTEGER},
      </if>
      <if test="carNumber != null" >
        #{carNumber,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.neuedu.propertyMgr.pojo.Parkspace" >
    update parkspace
    <set >
      <if test="carOwner != null" >
        car_owner = #{carOwner,jdbcType=VARCHAR},
      </if>
      <if test="houseOwner != null" >
        house_owner = #{houseOwner,jdbcType=VARCHAR},
      </if>
      <if test="parkNo != null" >
        park_no = #{parkNo,jdbcType=INTEGER},
      </if>
      <if test="carNumber != null" >
        car_number = #{carNumber,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neuedu.propertyMgr.pojo.Parkspace" >
    update parkspace
    set car_owner = #{carOwner,jdbcType=VARCHAR},
      house_owner = #{houseOwner,jdbcType=VARCHAR},
      park_no = #{parkNo,jdbcType=INTEGER},
      car_number = #{carNumber,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      color = #{color,jdbcType=VARCHAR},
      pay_type = #{payType,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>