body{
margin:0px;
font-family:Microsoft YaHei,arial,sans-serif;
color:#333;
}
#container{
width:100%;
margin:0px auto;
}
#header{
float:left;
width:100%;
height:575px;
background:url("../images/header-background.jpg") repeat-x 0 139px;
}
	#header-main{
	margin:0 auto;
	width:1000px;
	height:575px;
	background:url("../images/header.jpg");
	}
		#login{
		float:right;
		width:220px;
		height:150px;
		margin-top:285px;
		}
			#tip{
			float:right;
			width:215px;
			height:27px;
			color:red;
			font-size:14px;
			cursor:default;
			}
			#username{
			margin:2px 0 0 10px;
			float:left;
			width:120px;
			height:25px;
			font-size:14px;
			border-style:none;
			outline:none;
			background-color:transparent;
			}
			#password{
			float:left;
			margin:10px 0 0 10px;
			width:120px;
			height:25px;
			font-size:14px;
			border-style:none;
			outline:none;
			background-color:transparent;
			}
			#login-button{
			display:block;
			float:right;
			width:45px;
			height:45px;
			margin:-18px 16px 0 0;
			cursor:pointer;
			}
			#login-button:hover{
			background:url("../images/login-hover.jpg");
			}
			#link{
			float:left;
			width:100px;
			height:14px;
			margin:16px 0 0 18px;
			}
				#losepassword{
				float:left;
				width:50px;
				height:14px;
				cursor:pointer;
				}
#content{
float:left;
width:100%;
}
	#content-main{
	margin:0 auto;
	width:1000px;
	height:376px;
	background:url("../images/content2.jpg");
	}
#footer{
float:left;
width:100%;
}
	#footer-images{
	margin:25px auto;
	width:960px;
	height:135px;
	}
	#footer-city{
	float:left;
	margin-top:30px;
	width:100%;
	height:55px;
	background:url("../images/footer-city.gif");
	}
	#footer-main{
	float:left;
	margin-top:1px;
	width:100%;
	height:35px;
	background:rgb(191,227,239);
	font-size:14px;
	}
		#FAQ{
		float:right;
		margin:8px 120px 0 0; 
		width:250px;
		}
		#FAQ a{
		color:rgb(128,128,128);
		text-decoration:none;
		}
		#FAQ a:hover{
		color:rgb(42,168,188);
		text-decoration:none;
		}