#theme-mail{
width:40px;
}
#theme-roomid{
font-weight:normal;
width:60px;
border-right:0;
border-left:0;
}
#theme-title{
font-weight:normal;
border-right:0;
border-left:0;
}
#theme-date{
width:100px;
font-weight:normal;
border-right:0;
border-left:0;
}
#theme-delete{
width:80px;
text-align:center;
font-weight:normal;
border-right:0;
border-left:0;
}
#mail{
float:left;
width:20px;
height:18px;
margin-left:11px;
background:url("../images/mail.png") -72px -240px;
}
#read-mail{
float:left;
width:40px;
height:18px;
margin-left:12px;
background:url("../images/mail.png") -92px -240px;
}
#roomid{
float:left;
width:60px;
text-align:center;
}
#title{
display:block;
float:left;
height:100%;
width:380px;
margin-left:17px;
color:#444;
text-decoration:none;
}
#office-title{
display:block;
float:left;
height:100%;
width:220px;
margin-left:37px;
color:#444;
text-decoration:none;
}

#notice-title{
display:block;
float:left;
height:100%;
width:400px;
margin-left:8px;
color:#444;
text-decoration:none;
}
#text-title{
float:left;
height:100%;
width:360px;
}
#date{
float:right;
height:100%;
width:80px;
margin-right:12px;
}

#noborder{
border-right:0;
border-left:0;
}

#new-title{
width:40px;
text-align:center;
}
#text-input{
height:150px;
width:510px;
font-size:14px;
outline:none;
border:none;
}
